.App {
  text-align: center;
  margin: auto;
}

.form {
  border: 1px solid green;
  padding: 3rem;
  margin: auto;
  margin-top: 200px;
  width: fit-content;
  font-size: 30px;
}

input {
  font-size: 20px;
  margin-left: 20px;
  padding: 0.3rem;
}
/*
button{
  padding: 0.4rem;
  background-color: rgb(161, 255, 160);
  border-radius: 20px;
  width: 200px;
  margin-top: 20px;
  cursor: pointer;
}
button:hover{
  background-color: rgb(42, 255, 38);
}
*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.settings-title {
  font-weight: 500;
  /* color:#595959; */
  color: #7014f2;
  padding: 0 0 1rem 0;
}
.settings-section {
  padding: 0 0 4rem 0;
}

.box-option {
  background-color: white;
  color: black;
  font-size: 1.4rem;
}
